.addLane{ 
    color: black rgb(236, 222, 222); 
    background-color: rgb(212, 212, 212); 
    font-size: 20px; 
    width: 200px;
    /* padding: 8px 15px;  */
    border-radius: 3%; 
    top: 0;
    left: 3;
    right: 8;
    bottom: 0; 
    padding-left: 4%;
} 
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
} 
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
