.swimlanes{ 
  position: fixed; 
  box-shadow: 0px 0px 6px #fff;
  height: 60px;
  margin: 20px;
  width: 60px;
  }
#alertUser{ 
    float: right; 
    /* overflow-y: auto;
    border: 0.5px solid black;  */
    background: white;
    /* border-radius: 1px; */
    /* margin: 5px;
    padding: 10px;  */
    box-shadow:2px 2px 2px 2px rgb(199, 196, 196); 
    overflow-wrap: break-word; 
    width: 20em; 
    padding: 3px 3px 3px 5px; 
    margin:10px 0 10px 0;
  border-radius: 10px 15px 2px 10px;
} 
button{ 
    float:right;
    color:white;  
    width: 80px;
    border-radius: 6px 6px 6px 6px;
    background-color:rgb(69, 69, 241);
}
/* border: '0.5px solid black',
        borderRadius: '10px',
        margin: '5px',
        padding: '10px',
        display: 'inline-block' */