.roadmap{
    background-color: rgba(255, 255, 255, 0.527);
    height: 80%; 
    width: 90%;
} 
h1{
    margin: 0%; 
    padding: 0%; 
    padding-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left; 
    font-weight: normal;
}